.ai-assistant-page {
    padding: 4rem 2rem;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    background-color: #e6f7ff;
    min-height: 100vh;
  
    h1 {
      font-size: 2.5rem;
      color: #2d3748;
      margin-bottom: 1.5rem;
    }
  
    p {
      font-size: 1.2rem;
      color: #4a5568;
      margin-bottom: 2rem;
    }
  
    .chat-button {
      padding: 0.75rem 1.5rem;
      margin-bottom: 2rem;
      font-size: 1.2rem;
      background-color: #464c4a;
      color: #fff;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #38a169;
      }
    }
  
    .chat-window {
      margin-top: 3rem;
      margin: 0 auto;
      max-width: 90%;
      width: 100%;
      background-color: #fff;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 500px; /* Fixed height to ensure proper scrolling */
  
      .chat-messages {
        flex-grow: 1;
        overflow-y: auto; /* Enable scrolling inside chat messages */
        padding-right: 1rem;
        max-height: 400px; /* Set max height for messages to control overflow */
      }
  
      .chat-message {
        margin-bottom: 0.75rem;
        margin: 0 auto;
        padding: 0.75rem 1rem;
        border-radius: 10px;
        max-width: 80%;
        word-wrap: break-word;
      }
  
      .chat-message.user {
        background-color: #86b69a;
        color: white;
        align-self: flex-end;
      }
  
      .chat-message.ai {
        background-color: #f7f7f7;
        color: #333;
        align-self: flex-start;
      }
  
      .chat-input {
        display: flex;
        gap: 0.5rem;
  
        input {
          flex-grow: 1;
          padding: 0.75rem;
          font-size: 1rem;
          border-radius: 5px;
          border: 1px solid #ccc;
        }
  
        button {
          padding: 0.75rem 1rem;
          font-size: 1rem;
          background-color: #48bb78;
          color: #fff;
          border: none;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: #38a169;
          }
        }
      }
    }
  }