.section-template {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  scroll-snap-align: start;

  .card {
    position: relative;
    background: rgba(255, 255, 255, 0.7); /* Fallback in case the image fails */
    width: 85%;
    max-width: 1400px;
    height: 70%;
    margin-top: 4rem;
    padding: 3rem;
    border-radius: 0.75rem;
    text-align: center;
    box-shadow: 0 6px 8px rgba(0, 0, 0.30, 0.30);
    color: #fff;

    /* Flexbox for vertical alignment */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    /* Background Image Styling */
    background-size: cover;
    background-position: center;
    background-blend-mode: darken; /* Blends background image for better contrast */
    
    /* Add the transparency overlay */
    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.3); /* Darker overlay for transparency */
      z-index: 1;
      border-radius: 0.75rem;
    }

    h2, p, .styled-button {
      position: relative;
      z-index: 2;
    }

    h2 {
      font-size: 3.8rem;
      color: #fff;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.7rem;
      color: #fff;
      margin-bottom: 2rem;
      max-width: 900px;
      line-height: 1.75;
      flex-grow: 1; /* Allows the paragraph to take up space and push button down */
      display: flex;
      align-items: center; /* Centers the text vertically within its space */
    }

    .styled-button {
      padding: 1rem 2rem;
      font-size: 1.5rem;
      color: #ffffff;
      background-color: #48bb78;
      border: none;
      border-radius: 0.75rem;
      cursor: pointer;
      transition: background-color 0.3s ease, transform 0.2s ease;

      &:hover {
        background-color: #38a169;
        transform: scale(1.05);
      }
    }
  }
}

@media (max-width: 768px) {
  .card {
    width: 95%; 
    height: auto; 
    padding: 2rem;
  }

  .section-template .card h2 {
    font-size: 2.5rem; 
  }

  .section-template .card p {
    font-size: 1.25rem; 
  }

  .section-template .card .styled-button {
    padding: 0.75rem 1.5rem;
    font-size: 1.25rem;
  }
}