.contact-button {
    padding: 10px 20px;
    background-color: #48bb78;
    text-decoration: none;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  
    &:hover {
      background-color: #0056b3;
    }
  }

.container{
  width: 150vh;
  display: flex;
  display: inline;
 
}

.picture{
    margin-top:10rem;
    margin-left: 20rem;
    margin-bottom: 2rem;
    height:20rem; 
    
  }

  .text{
width:30rem;
margin-left: 10rem;
margin-top: 10rem;

  }

  .description{
margin-top: 1rem;
  }